@page "/"
<div>
    <h1>This is <a href="https://en.wikipedia.org/wiki/Sierpi%C5%84ski_triangle">Sierpiński triangle</a></h1>

    <img src="img/triangle.gif" width="500" height="500" style="box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.6);"/>
</div>


